[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-whooshee = "*"
flask-moment = "*"
flask-mail = "*"
flask-login = "*"
flask-dropzone = "*"
bootstrap-flask = "*"
flask-avatars = "*"

[requires]
python_version = "3.7"
